.table {
  width: 70%; 
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  position: relative;
  left: 15%;
}

.table th {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: rgba(240, 237, 237, 0.754);
  color: rgb(153, 149, 149);
}

.table th:last-child, .table td:last-child {
  text-align: center;
}

.song-row td {
  border: 1px solid #ddd;
  padding: 8px;
  color: rgba(161, 153, 153, 0.754);
}

.audio-controls audio {
  display: none;
}

.audio-play-button {
  width: 20px;
  height: 20px;
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
}

.audio-play-button::after {
  content: "\25B6"; 
  font-size: 24px;
  color: rgb(108, 107, 107);
}


.audio-play-button.playing::after {
  content: "\II";
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-input {
  display: none;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #2980b9;
}

.upload-icon {
  margin-right: 5px;
}

.upload-button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #27ae60;
}



.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 5px
}

.icon {
  margin-right: 8px; /* Adjust the margin as needed */
}
