.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin: 20px auto;
  width: 70% !important;
  background: rgba(240, 237, 237, 0.754);
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #b2b5b9;
  position: relative;
}

@media only screen and (max-width: 1800px) {
  .nav {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 90%;
  }
}

.btn{
  border-radius: 4px 0 0 4px;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: none;
  position: relative;
  font-size: 15px;
  border: 1px solid #b2b5b9;
} .btn:hover {
  background:#d4d5d5;
  transition: background-color 0.3s ease;
}
.btn2{
  border-radius: 4px 0 0 4px;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: none;
  position: relative;
  font-size: 15px;
  border: 1px solid #b2b5b9;
} .btn2:hover {
  background:#d4d5d5;
  transition: background-color 0.3s ease;
}

.play{
  font-size: 10px;
  position: relative;
  padding-right: 4px;
}

.add{
  font-size: 14px;
  position: relative;
  padding-right: 4px;
  font-weight: bold;
}

.open{
  color: rgb(0, 0, 0);
  border: 1px solid #b2b5b9;
  border-radius: 0 4px 4px 0;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left:-3px;
  font-size: 14px;
  margin-right: 20px;
  margin: 3px 20px 3px -3px;
  padding: 3px;
} .open:hover {
  background-color: #d4d5d5;
}

.open2{
  color: rgb(0, 0, 0);
  border: 1px solid #b2b5b9;
  border-radius: 0 4px 4px 0;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left:-3px;
  font-size: 14px;
  margin-right: 20px;
  margin: 3px 20px 3px -3px;
  padding: 3px;
} .open2:hover{
  background:#d4d5d5;
  transition: background-color 0.3s ease;
}

.search {
  float: right;
  border-radius: 4px;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
  border-radius: none;
  font-size: 15px;
  border: 1px solid #625e5e;
  padding-right: 15px;
  width: 170px; 
  transition: border-color 0.3s ease;
  border-radius: 14px;
}.search:hover {
  background-color:#d4d5d5;
}

.btn_num{
  float: right;
  border-radius: 4px;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
  border-radius: none;
  font-size: 15px;
  border: 1px solid #b2b5b9;
  position: relative;
  padding-right: 15px;
}

.alt{
position: absolute;
top: 3px;
} 

@media (max-width: 768px) {
  .nav {
    width: 90%;
  }

  .search {
    width: auto;
  }
}





.container {
  display: flex;
  align-items: center;
}

.container button {
  margin-right: 6px; /* Adjust the margin as needed */
}


.searchContainer{
  position: relative;
  left: 58%;
}